

<body>
	    <div id="main">
		     <div id="header" style="text-align: center;">


                            <b><a href="/home">home</a></b>
                        </li>
                        <li>

                    </ul>
                </div>
                <form name="form" action="/deliveryorders">
                    {% csrf_token %}
                    <p style="text-align: center">
                        <span >Username:</span><input class="contact" type="text" name="username" value=""/><br>
                        <span>Password:</span><input class="contact" type="password" name="password" value=""/><br>
                    <p style="padding-top: 15px">
                    <span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="Login" />
                    </p>

                    <p>
                        <span>You Have not Registered:</span><a href="/registration/" name="registration">Click Here</a>
                    </p>
                </form>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>

            </div>
            </div>
        </div>
	</div>

        <div class="table">


        </div>
    <div id="footer">
        <h2>
            Share Us On
        </h2>
        <p>
            <u ><a href="www.facebook.com/login">Facebook</a></u>
            <u><a href="www.Twitter.com/login">Twitter</a></u>
            <u><a href="www.Instagram.com/login">Instagram</a></u>
            <u><a href="www.gmail.com/login">gmail</a></u>
        </p>

    </div>



</body>
</html>
